<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (title)">



	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'sha256-KbAKvc572bZewq9SuQiS04fQZ7rtGU87ZAHB1IG9wHs=' 'sha256-67Poi97W2wULU0ePQH6VWJK08o+EL0DtbKxdCDc0fVM='; ">

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title th:text="${title}"></title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

	<!-- Custom Styles (if needed) -->
	<link rel="stylesheet" th:href="@{/styles/style.css}" />
</head>

</html>